{% extends 'base.html' %}

{% block title %} Vuelo List {% endblock %}

{% block content %}

{% if user.is_authenticated %}


    <h1>Vuelos</h1>

    <table class="table table-striped table-hover table-bordered align-middle shadow-sm">

    <thead>
        <tr>
            <th>Modelo de Avion</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vuelo in vuelos %}
            <tr class="">
                <td scope="row">{{ vuelo.avion_id }}</td>
                <td>{{ vuelo.origen }}</td>
                <td>{{ vuelo.destino }}</td>
                <td>{{ vuelo.estado }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="{% url 'vuelo_detail' vuelo.id %}" class="btn btn-button btn-sm">
                            <b>Detalles</b>
                        </a>
                        <a href="{% url 'vuelo_pasajeros' vuelo.id %}" class="btn btn-button btn-sm">
                            <b>Pasajeros</b>
                        </a>
                        {% if user.is_staff %}
                            <a href="{% url 'vuelo_delete' vuelo.id %}" class="btn btn-button-borrar btn-sm">
                                <b>Borrar</b>
                            </a>
                        {% endif %}
                    </div>
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% if user.is_staff %}

    <div class="row">
        <div class="col">
            <a href="{% url 'vuelo_create' %}" class="btn btn-button"><b>Crear vuelo</b></a>
        </div>
    </div> 

{% endif %}

{% else %}
    <h5>No iniciaste sesion para acceder al sitio</h5>
{% endif %}

{% endblock %}

